extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main
  .container-custom
    if(role.permissions.includes("products_view"))
      div(class="w-full mb-3")
        +search(keyword)
      div(class="flex justify-between flex-wrap mb-6")
        div(class="flex flex-wrap")
          div(class="mr-6 mb-3")
            +filter-status(filterStatus)
          if(role.permissions.includes("products_edit"))
            div(class="mr-6 mb-3")
              +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
          div(class="mb-3")
            +sort()
        if(role.permissions.includes("products_create"))
          form(action = `${prefixAdmin}/products/import` enctype="multipart/form-data" method="post"
            class="flex items-center"
          )
            button(type="submit" class="button-1 mr-2" title=".json or .xlxs") Import
            input(type="file" accept=".json,.xlsx" name="uploaded_file" required class="file" title=".json or .xlxs")

          a(
            href=`${prefixAdmin}/products/create`
            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-black-blur dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          ) Create new

      div.relative.overflow-x-auto.shadow-md(class="sm:rounded-xl")
        table(class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" check-box-multi)
          thead(class=`text-xs text-gray-700 uppercase bg-gray-100 
                dark:bg-dark-navy-3 dark:text-gray-400`)
            tr
              th(scope="col" class="px-6 py-4")
                .flex.items-center
                  input#checkbox-all-search(type="checkbox" name="checkall" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                  label.sr-only(for="checkbox-all-search") checkbox
              th(scope="col" class="pr-6 py-3") Product
              th(scope="col" class="px-6 py-3") Price
              th(scope="col" class="px-6 py-3") Sales
              th(scope="col" class="px-6 py-3") Position
              th(scope="col" class="px-6 py-3") Status
              th(scope="col" class="px-6 py-3") Uploader
              th(scope="col" class="px-6 py-3") Action
          tbody
            each item, index in products
              tr(class="h-fit bg-white border-b dark:bg-dark-navy-2 dark:border-black-1 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600")
                td(class="w-4 px-6 py-4")
                  .flex.items-center
                    input#checkbox-table-search-1(type="checkbox" name="id" value=item.id class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                    label.sr-only(for="checkbox-table-search-1") checkbox
                th(scope="row" class="pr-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white")
                  div(class="flex items-center")
                    if(item.images.length > 0)
                      img(src=item.images[0] 
                          alt=item.title 
                          class="w-15 h-15 rounded-2xl mr-2"
                      )
                    else
                      img(src=`https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg` 
                          alt=item.title 
                          class="w-15 h-15 rounded-2xl mr-2"
                      )
                    div(class="flex flex-col")
                      span #{item.title}
                      span(class="text-gray-400") #{item.categoryTitle}
                td(class="px-6 py-4") 
                  select(class="w-full py-2 pl-2 pr-0 text-sm rounded-md bg-white dark:bg-black-1 border border-gray-300 dark:border-gray-600 focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50 dark:text-gray-200")
                    each val, i in item.listPrice
                      option(class="py-1" disabled selected=(i==0?true:false))
                        span(class="font-medium") #{val.size} | 
                        span(class="ml-2 text-gray-600 dark:text-gray-400 formatMoney") #{val.price}
                td(class="px-6 py-4") #{item.sales}
                td(class="px-6 py-4") 
                  input(
                    type="number"
                    class=" text-center p-0 w-[50px] rounded-md bg-transparent"
                      +" [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                    value=item.position
                    min="1"
                    name="position"
                  )
                td(class="px-6 py-4") 
                  div(class="flex items-center")
                    if (item.status == "active")
                      a(
                        href="javascript:;" class="" 
                        data-status = item.status
                        data-id = item.id
                        button-change-status 
                      )
                        <label class="inline-flex items-center cursor-pointer">
                          <input type="checkbox" value="" class="sr-only peer" checked>
                          <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-black-1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
                        </label>
                    else 
                      a(
                        href="javascript:;" class=""
                        data-status = item.status
                        data-id = item.id
                        button-change-status
                      ) 
                        <label class="inline-flex items-center cursor-pointer">
                          <input type="checkbox" value="" class="sr-only peer">
                          <div class="relative w-9 h-5 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-black-1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
                        </label>
                td(class="px-6 py-4")
                  p #{item.accountFullName}
                  +formatDateTime(item.createdAt)
                td.px-6.py-4
                  .flex.items-center.gap-4
                    if(role.permissions.includes("products_edit"))
                      a(
                        href = href=`${prefixAdmin}/products/edit/${item.id}`
                        class="button-edit"
                      ) <i class="fa-regular fa-pen-to-square text-lg text-black-1 dark:text-white"></i>

                    if(role.permissions.includes("products_delete"))
                      a(
                        class="button-delete"
                        button-delete
                        data-id = item.id
                      ) <i class="fa-solid fa-trash text-lg text-red-400 dark:text-red-600"></i>

      div(class="flex justify-center mt-3")
        +pagination(pagination.currentPage, pagination.totalPage)

      form(
        action="" 
        method="POST"
        id = "form-change-status"
        data-path = `${prefixAdmin}/products/change-status`
      ) 
      //- form k co phuong thuc patch
      //- =>>>thu vien (npm i method-override): ghi de phuong thuc http(patch, put,....)


      form(
        action="" 
        method="POST"
        id = "form-delete-item"
        data-path = `${prefixAdmin}/products/delete`
      ) 

      script(src="/admin/js/product.js") 