extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-item-template.pug

block main
  .page-format.success(data-order-id = order.id data-order-payment-method)
    .container.my-3
      .notification.wrapper-flex-column-gap-15.align-items-center
        if order.deliveryStatus == "pending"
          i.fi.fi-rr-check
          span Đặt hàng thành công!
          p Bạn sẽ nhận được hàng sau 5-7 ngày
        if order.deliveryStatus == "pending-payment"
          i.fi.fi-rr-pending
          span Chờ xác nhận thanh toán
          p Vui lòng quét mã QR để thanh toán
      .inner-content.d-flex.mt-5
        .order-info.wrapper-flex-column-gap-15
          span.info Mã đơn hàng: #{order.id}
          span.info Tên người nhận: #{order.userInfo.fullName}
          span.info Số điện thoại: #{order.userInfo.phone}
          span.info Địa chỉ: #{order.userInfo.detail}, #{order.userInfo.commune}, #{order.userInfo.district}, #{order.userInfo.province}
          span.info Phương thức thanh toán: 
            if order.deliveryStatus == "pending"
              | Thanh toán khi nhận hàng
            if order.deliveryStatus == "pending-payment"
              | Mã QR
          .order-products.wrapper-flex-column-gap-15
            span.title Đơn hàng của bạn
            .inner-orderProducts.wrapper-flex-column-gap-15
              each item in products
                .product-wrapper.d-flex.align-items-center  
                  .product-image
                    .quantity #{item.quantity}
                    .image
                      img(src=item.thumbnail.replace('upload/', 'upload/c_limit,w_62/f_auto/') alt=item.product_title)
                  .product-info
                    .title #{item.product_title}
                    .size #{item.size.size}
                  .product-price.formatMoney #{item.totalPrice} đ
            .shipping.d-flex.align-items-center
              span.name Phí vận chuyển
              span.value 0 đ
            .totalPrice.d-flex.align-items-center
              span.name Tổng 
              span.value #{totalPrice} đ
          .inner-button
            a.continue-shopping(href="/products") Tiếp tục mua hàng
            a.history(href="/history") Theo dõi đơn hàng
            
        if order.deliveryStatus == 'pending-payment'
          .section-qr(data-bank-id=bankId data-bank-account=bankAccount)

            img(src=`https://img.vietqr.io/image/${bankId}-${bankAccount}-qr_only.png?amount=${totalPrice}&addInfo=STARTSEVQR${order.id}END`)
            p.des Mã QR thanh toán tự động
            .info-bank-account
              b Số tiền: <span class="price">#{totalPrice} đ</span>
              b Ngân hàng: #{bankId}
              b Người thụ hưởng: <span class="owner">PHAN THANH TUNG</span>
    
            //- .wait
            //-   span Đang chờ thanh toán
            //-   span.time 09:57       
      
  script(src="/js/checkout.js")
  