extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-item-template.pug

block main
  .page-format.success(data-order-id = order.id data-payment-method = order.paymentMethod)
    .container.my-3
      .notification.wrapper-flex-column-gap-15.align-items-center
        if order.deliveryStatus == "pending"
          i.fi.fi-rr-check
          if order.paymentMethod=="zalopay"
            span Payment Successful!
          else
            span Order Placed Successfully!
          if order.deliveryMethod == "instant"
            p Please keep your phone available for delivery.
          else if order.deliveryMethod == "standard"
            p You will receive your order within 5–7 days.
        if order.deliveryStatus == "pending-payment"
          i.fi.fi-rr-pending
          span Awaiting Payment Confirmation
          if order.paymentMethod == "zalopay"
            p Please proceed with the payment
              a(href=`/checkout/zalopay/${order.id}/${order.paymentStatus.lack}` style="color: blue; text-decoration:underline") Tại đây
          else
            p Please scan the QR code to complete your payment
      <div class="success-box d-none align-items-center wrapper-flex-column-gap-15">
        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
        <h2>Payment Successful!</h2>
        <p>Thank you for your purchase. Your order is being processed.</p>
        <a class = "button-4" href="/products"><span>Continue Shopping</span></a>
      </div>
      .inner-content.d-flex.mt-5
        .order-info.wrapper-flex-column-gap-15
          span.info Order ID: ##{order.id}
          span.info Recipient name: #{order.userInfo.fullName}
          span.info Phone number: #{order.userInfo.phone}
          span.info Address: #{order.userInfo.detail}, #{order.userInfo.commune}, #{order.userInfo.district}, #{order.userInfo.province}
          span.info Payment method: 
            if order.paymentMethod == "qr"
              | QR Code
            if order.paymentMethod == "cash"
              | Cash on delivery
            if order.paymentMethod == "zalopay"
              | ZaloPay
            if order.paymentMethod == "momo"
              | Momo
          .order-products.wrapper-flex-column-gap-15
            span.title Your order
            .inner-orderProducts.wrapper-flex-column-gap-15
              each item in products
                .product-wrapper.d-flex.align-items-center  
                  .product-image
                    .quantity #{item.quantity}
                    .image
                      img(src=item.thumbnail alt=item.product_title)
                  .product-info
                    .title #{item.product_title}
                    .size #{item.size.size}
                  .product-price.format-money #{item.totalPrice}
            .shipping.d-flex.align-items-center
              span.name Shipping
              span.value.format-money #{order.shippingFee}
            .shipping.d-flex.align-items-center
              span.name Discount coupon
              span.value - #{order.discountCoupon} %
            .shipping.d-flex.align-items-center
              span.name Shipping discount
              span.value - #{order.discountShipping} %
            .totalPrice.d-flex.align-items-center
              span.name TOTAL 
              span.value.format-money #{totalPrice*(1-order.discountCoupon/100)+order.shippingFee*(1-order.discountShipping/100)}
          .inner-button
            a.continue-shopping(href="/products") Continue Shopping
            a.history(href="/history") Track Your Order

        if order.deliveryStatus == 'pending-payment' && order.paymentMethod != "zalopay"
          .section-qr(data-bank-id=bankId data-bank-account=bankAccount)
            img(src=`https://img.vietqr.io/image/${bankId}-${bankAccount}-qr_only.png?amount=${totalPrice+order.shippingFee}&addInfo=STARTSEVQR${order.id}END`)
            p.des QR Code
            .info-bank-account
              b.totalPriceBanking Amount: <span class="price format-money">#{totalPrice+order.shippingFee}</span>
              b(
                class=`${(order.paymentStatus.lack != 0 && order.paymentStatus.status=="lack")?"":"d-none"}`
              ).text-danger.totalLack Outstanding Amount: <span class="format-money">#{order.paymentStatus.lack}</span>
              b Bank: #{bankId}
              b Beneficiary: <span class="owner">PHAN THANH TUNG</span>  
  script(src="/js/success.js")
