extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-item-template.pug

block main
  .page-format.success
    .container.my-3
      .notification.wrapper-flex-column-gap-15.align-items-center
        if order.deliveryStatus == "pending"
          i.fi.fi-rr-check
          span Đặt hàng thành công!
          p Bạn sẽ nhận được hàng sau 5-7 ngày
        if order.deliveryStatus == "pending-payment"
          i.fi.fi-rr-pending
          span Chờ xác nhận thanh toán
      .inner-content
        .order-info
          .title Thông tin đơn đặt hàng
          .customer-info
            span Tên người nhận: #{order.userInfo.fullName}
            span Số điện thoại: #{order.userInfo.phone}
            span Địa chỉ: #{order.userInfo.detail}, #{order.userInfo.commune}, #{order.userInfo.district}, #{order.userInfo.province}
            span Phương thức thanh toán: 
          .order-product
            each item in products
              //- +product-item-template-order(item)
          .totalPrice Tổng #{totalPrice} đ
        if order.deliveryStatus == 'pending-payment'
          .section-qr QR
      div orderId: #{order.id}
      
      if(products == 0)
        div Tên: #{order.userInfo.fullName}
        div sdt: #{order.userInfo.phone}
        div Địa chỉ: #{order.userInfo.detail}-#{order.userInfo.commune}-#{order.userInfo.district}-#{order.userInfo.province}
        .row 
          .col-12
            table(class="table table-bordered")
              thead
                tr
                  th STT
                  th Ảnh
                  th Tên
                  th Loại
                  th Giá
                  th Số lượng
                  th Tổng tiền
              tbody
                if(products.length > 0)
                  each item, index in products
                    tr
                      td #{index + 1}
                      td
                        
                      td #{item.product_title}
                      td #{item.size}
                      td #{item.price} 
                      td #{item.quantity}
                      td #{item.totalPrice} 


            if(products.length > 0)
              h3(class="text-right table-cart") Tổng đơn hàng: #{totalPrice}
      
      a(href="/products") Tiếp tục mua hàng
      if order.deliveryStatus == "pending-payment"
        button.qr-button Mã QR
  
  .section-qr.d-none(data-bank-id=bankId data-bank-account=bankAccount)
    img(src=`https://img.vietqr.io/image/${bankId}-${bankAccount}-qr_only.png?amount=${totalPrice}&addInfo=fixcung`)

    .des
      p Mã QR thanh toán tự động
      p Thường không quá 3 phút
    p Số tiền: <span class="price">#{totalPrice} đ</span>
    p Người thụ hưởng: <span class="owner">PHAN THANH TUNG</span>
    .wait
      span Đang chờ thanh toán
      span.time 09:57 
  script(src="/js/checkout.js")
  