extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("accounts_create"))
    h1(class=`mb-7 ml-7 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl
      dark:text-white`) Create admin account
    .container-custom-sm
      form(
        action=`${prefixAdmin}/accounts/create`
        method="POST"
        enctype="multipart/form-data"
      )
        div
          div.block.mb-2.text-sm.font-medium.text-gray-900(
              class="dark:text-white"
            ) Avatar
          label(
            for="avatar"
            class="flex justify-between items-center mb-4 w-32 rounded-full border-2 border-gray-200 overflow-hidden cursor-pointer hover:brightness-95"
          )
            img.avatar-preview(
              src="https://howkteam.vn/Content/images/avatar/avatar.png"
              class="w-full aspect-square object-cover"
            )
          input(
            type="file"
            class="hidden"
            id="avatar"
            name="avatar"
            accept="image/*"
          )
          
        div(class="grid gap-6 mb-6 md:grid-cols-2")
          div
            label.block.mb-2.text-sm.font-medium.text-gray-900(
              class="dark:text-white"
              for="fullName"
            ) Full name
            input.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(
              class=`focus:ring-blue-500 focus:border-blue-500 p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500`
              type="text"
              id="fullName"
              name="fullName"
              placeholder="Enter your name"
              required
            )
          div
            label.block.mb-2.text-sm.font-medium.text-gray-900(
              class="dark:text-white"
              for="email"
            ) Email
            input.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(
              class=`focus:ring-blue-500 focus:border-blue-500 p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500`
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
              autocomplete="off"
            )
          div
            label.block.mb-2.text-sm.font-medium.text-gray-900(
              class="dark:text-white"
              for="phone"
            ) Phone number
            input.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(
              class=`focus:ring-blue-500 focus:border-blue-500 p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500`
              type="tel"
              id="phone"
              name="phone"
              placeholder="Enter your phone number"
              required
            )
          div
            label.block.mb-2.text-sm.font-medium.text-gray-900(
              class="dark:text-white"
              for="password"
            ) Password
            input.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(
              class=`focus:ring-blue-500 focus:border-blue-500 p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500`
              type="password"
              id="password"
              name="password"
              required
              autocomplete="off"
            )
        div.mb-6
          label.block.mb-2.text-sm.font-medium.text-gray-900(
            class="dark:text-white"
            for="role_id"
          ) Role
          select.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(
            class=`focus:ring-blue-500 focus:border-blue-500 p-2.5 
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500`
            id="role_id"
            name="role_id"
            placeholder="Choose role"
            required
          )
            each item in roles
              option(value=item.id) #{item.title}
        input(
          type="radio"
          class="hidden"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        button(
          type="submit"
          class=`block ml-auto px-5 py-2 cursor-pointer text-center font-medium 
            text-white bg-gray-800 rounded-sm hover:bg-gray-900
            dark:bg-gray-700 dark:hover:bg-gray-600`
          ) OK