extends ../../layouts/default.pug

block main

  if(role.permissions.includes("accounts_view"))

    .card.mb-3.wrap-table.mt-5
      .card-body
        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th 
              th Avatar
              th Name
              th Role
              th Email
              if(role.permissions.includes("accounts_edit"))
                th Status
              th Action

          tbody
            each item, index in records
              tr 
                td #{index+1}
                td
                  img(
                    src=item.avatar
                    alt=item.fullName
                    width="100px"
                    height="auto"
                  )
                td #{item.fullName}
                td #{item.role?item.role.title:"Empty"}
                td #{item.email}
                if(role.permissions.includes("accounts_edit"))
                  td
                    if (item.status === "active")
                      a(
                        href="javascript:;"
                        class="status-badge status-badge-active"
                        data-status= item.status
                        data-id = item.id
                        button-change-status 
                      ) Active
                    else
                      a(
                        href="javascript:;"
                        class="status-badge status-badge-inactive"
                        data-status= item.status
                        data-id = item.id
                        button-change-status
                      ) Inactive
                    form(
                        action="" 
                        method="POST"
                        id = "form-change-status"
                        data-path = `${prefixAdmin}/accounts/change-status`
                    ) 
                td
                  //- a(
                  //-   class="btn btn-secondary btn-sm"
                  //-   href=`${prefixAdmin}/accounts/detail/${item.id}`
                  //- ) Chi tiết
                  if(role.permissions.includes("accounts_edit"))
                    a(
                      class="button-edit"
                      href=`${prefixAdmin}/accounts/edit/${item.id}`
                    ) <i class="fa-regular fa-pen-to-square"></i>
                  if(role.permissions.includes("accounts_delete"))
                    a(
                      class="button-delete"
                      button-delete 
                      data-id= item.id
                    ) <i class="fa-solid fa-trash"></i>
                    form(
                      action="" 
                      method="POST"
                      id = "form-delete-item"
                      data-path = `${prefixAdmin}/accounts/delete`
                    ) 
        if(role.permissions.includes("accounts_create"))
          a(
            href=`${prefixAdmin}/accounts/create`
            class="btn button-1 button-1-2 mt-3 mb-3"
          ) + Create
  script(src="/admin/js/product.js") 