extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/product-layout-slide.pug
include ../../mixins/rating.pug

block main
  .product-detail
    .container
      .row
        .col-md-7.col-sm-12.product-images
          .swiper.image-detail
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item.replace('upload/', 'upload/c_limit,w_540/f_auto/'))
            .swiper-button-next
              <i class="fi fi-rr-right"></i>
            .swiper-button-prev
              <i class="fi fi-rr-left"></i>
          .swiper.thumbnail-detail(thumbsSlider="")
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item.replace('upload/', 'upload/c_limit,w_90/f_auto/'))
        .col-md-5.product-info
          h3(class="inner-title") #{product.title}
          .d-flex.align-items-center
            .inner-rating.mr-5(data-rating=product.ratingNumber)
              +rating-1
            a(href="#") VIEW ALL COMMENTS
          .inner-price
            if (product.listSize && product.discountPercentage > 0)
              del(class="inner-price-old formatMoney") #{product.listSize[0].price}$
              span.inner-price-old |
            if (product.listSize)
              div(class="inner-price-new") <span class= "formatMoney"> #{product.listSize[0].priceNew}$</span>
            if (product.discountPercentage)
              div(class="inner-percent text")
                span 
                  i.fa-solid.fa-bolt
                  |   -#{product.discountPercentage}%
          table.inner-info.table.table-borderless
            tbody              
              if (product.categoryTitle)
                tr
                  td.name.text-left(style="width: 30%;")            
                    span.text Category
                  td.text-left(style="width: fit-content;")
                    a(href=`/products/${product.categorySlug}`) #{product.categoryTitle}
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text In stock
                  td.value.text-left
                    div(class="inner-stock text")
                      <span class="stock">#{product.listSize[0].stock}</span>
                      span
                        if(product.listSize[0].stock > 1) 
                          |  items
                        else 
                          |  item
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Sold
                  td.value.text-left
                    div(class="inner-stock text")
                      <span>#{product.sales}</span>
                      span
                        if(product.sales > 1) 
                          |  items
                        else 
                          |  item
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Size
                  td.value.text-left
                    span.text#size-value small
          if(product.listSize)
            .btn-size
              each item in product.listSize 
                button.button-size(id=item._id price=item.price priceNew=item.priceNew stock=item.stock) #{item.size}
          form(
            action=`/cart/add/${product._id}`
            onSubmit="disableButton()"
            method="POST"
            class = "formCart"
          ) 
            input(
              class="sizeInput d-none"
              type = "text"
              name="sizeId"
              value=product.listSize[0]._id
            )
            .input-qty
              i.fi.fi-rr-minus-small.sub
              input(
                class="form-control stockInput"
                type="number"
                name="quantity"
                value="1"
                min="1"
                max=product.listSize[0].stock
              )
              i.fi.fi-rr-plus-small.add
            button(
              type="submit"
            ) ADD TO CART
    section.box-description
      .container
        div
          .nav.nav-tabs(role="tablist")
            button.nav-link.active#nav-description-tab(data-toggle="tab" data-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true") Mô tả sản phẩm
            button.nav-link#nav-policy-tab(data-toggle="tab" data-target="#nav-policy" type="button" role="tab" aria-controls="nav-policy" aria-selected="false") Chính sách giao hàng
            button.nav-link#nav-shipping-tab(data-toggle="tab" data-target="#nav-shipping" type="button" role="tab" aria-controls="nav-shipping" aria-selected="false") Vận chuyển và hoàn trả
        .tab.tab-content
          .tab-pane.fade.show.active.inner-desc#nav-description(role="tabpanel" aria-labelledby="nav-description-tab") !{product.description}
          .tab-pane.fade#nav-policy(role="tabpanel" aria-labelledby="nav-policy-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
          .tab-pane.fade#nav-shipping(role="tabpanel" aria-labelledby="nav-shipping-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
    section.section-policy
      .container
        .inner-section-policy.row
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-1_200x.png?v=1695007028")
              .title Extra Shipping
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-2_200x.png?v=1695007028")
              .title Payment Secured
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon 
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-3_200x.png?v=1695007028")
              .title Money Back Guarantee
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
    section.box-feedback
      .container
        .row
          .col-4
            div totalReview: #{product.totalReviews}
            div avarageRating: #{product.averageRating}
            each i in [1,2,3,4,5]
              div #{i} #{Object.values(product.starCounts)[i-1]}
            if !user
              div Đăng nhập để đánh giá sản phẩm
            else
              button.bg-dark.text-white Đánh giá sản phẩm
          .col-8
            each feedback in product.feedback
              div.d-flex
                img(src=feedback.userDetail.thumbnail width="50" height="50")
                p Tên : #{feedback.userDetail.fullName} 
              div Comment: #{feedback.comment}
              div
                +formatDate(feedback.createdAt)
              p Sao: #{feedback.rating}
              hr
          

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  script(src="/js/detailProduct.js")
  script(src="/js/feedback.js")
  script(src="/js/product.js") 
  script(src="/js/format.js") 
  script(src="/js/rating.js")