extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/product-layout-slide.pug
include ../../mixins/rating.pug

block main
  .product-detail
    .container
      .row
        .col-md-6.col-sm-12.product-images.pt-5
          .swiper.image-detail
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item)
            .swiper-button-next
              <i class="fi fi-rr-right"></i>
            .swiper-button-prev
              <i class="fi fi-rr-left"></i>
          .swiper.thumbnail-detail(thumbsSlider="")
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item)
        .col-md-6.product-info.pt-5
          h3(class="inner-title") #{product.title}
          .d-flex.align-items-center
            .inner-rating.mr-5(data-rating=Math.round(product.averageRating * 2) / 2)
              +rating-1
            a(href="#box-feedback") VIEW ALL COMMENTS
          .inner-price
            if (product.listSize && product.discountPercentage > 0)
              del(class="inner-price-old formatMoney") #{product.listSize[0].price}$
              span.inner-price-old |
            if (product.listSize)
              div(class="inner-price-new") <span class= "formatMoney"> #{product.listSize[0].priceNew}$</span>
            if (product.discountPercentage)
              div(class="inner-percent text")
                span 
                  i.fa-solid.fa-bolt
                  |   -#{product.discountPercentage}%
          table.inner-info.table.table-borderless
            tbody              
              if (product.categoryTitle)
                tr
                  td.name.text-left(style="width: 30%;")            
                    span.text Category
                  td.text-left(style="width: fit-content;")
                    a(href=`/products/${product.categorySlug}`) #{product.categoryTitle}
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text In stock
                  td.value.text-left
                    div(class="inner-stock text")
                      <span class="stock">#{product.listSize[0].stock}</span>
                      span
                        if(product.listSize[0].stock > 1) 
                          |  items
                        else 
                          |  item
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Sold
                  td.value.text-left
                    div(class="inner-stock text")
                      <span>#{product.sales}</span>
                      span
                        if(product.sales > 1) 
                          |  items
                        else 
                          |  item
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Size
                  td.value.text-left
                    span.text#size-value small
          if(product.listSize)
            .btn-size
              each item in product.listSize 
                button.button-size(id=item._id price=item.price priceNew=item.priceNew stock=item.stock) #{item.size}
          form(
            action=`/cart/add/${product._id}`
            method="POST"
            class = "formCart"
          )
            input(
              class="sizeInput d-none"
              type = "text"
              name="sizeId"
              value=product.listSize[0]._id
            )
            .input-qty
              i.fi.fi-rr-minus-small.sub
              input(
                class="form-control stockInput"
                type="number"
                name="quantity"
                value="1"
                min="1"
                max=product.listSize[0].stock
              )
              i.fi.fi-rr-plus-small.add
            button(
              type="submit"
            ) ADD TO CART
    section.box-description
      .container
        div
          .nav.nav-tabs(role="tablist")
            button.nav-link.active#nav-description-tab(data-toggle="tab" data-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true") DESCRIPTION
            button.nav-link#nav-policy-tab(data-toggle="tab" data-target="#nav-policy" type="button" role="tab" aria-controls="nav-policy" aria-selected="false") DELIVERY POLICY
            button.nav-link#nav-shipping-tab(data-toggle="tab" data-target="#nav-shipping" type="button" role="tab" aria-controls="nav-shipping" aria-selected="false") SHIPPING & RETURN
        .tab.tab-content
          .tab-pane.fade.show.active.inner-desc#nav-description(role="tabpanel" aria-labelledby="nav-description-tab") !{product.description}
          .tab-pane.fade#nav-policy(role="tabpanel" aria-labelledby="nav-policy-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
          .tab-pane.fade#nav-shipping(role="tabpanel" aria-labelledby="nav-shipping-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
    section.section-policy
      .container
        .inner-section-policy.row
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-1_200x.png?v=1695007028")
              .title Extra Shipping
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-2_200x.png?v=1695007028")
              .title Payment Secured
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon 
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-3_200x.png?v=1695007028")
              .title Money Back Guarantee
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
    section.box-feedback#box-feedback
      .container
        .row
          .col-lg-4.col-sm-12.sticky-top         
            h4.title Customer Reviews
            .inner-rating.averageRating(data-rating=Math.round(product.averageRating * 2) / 2)
              span #{product.averageRating.toFixed(2)}
              +rating-1
            p.total-review Base on #{product.totalReviews} reviews
            each i in [5, 4, 3, 2, 1]
              - var count = Object.values(product.starCounts)[i - 1];
              - var percentage = product.totalReviews === 0 ? 0 : (Number(count) / Number(product.totalReviews) * 100);
              .inner-rating.box-progression(data-rating = i)
                +rating-1
                +progression(count, percentage)
            if !user
              a.create-feedback(href="/user/login") Please login to write comment!
            else
              if hasMyFeedback
                // do not render write-comment UI when user already commented
              else
                button.create-feedback(
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#collapse-createFeedback" 
                  aria-expanded="false" 
                  aria-controls="collapse-createFeedback"
                ) Write comment
                .collapse#collapse-createFeedback
                  form.add-feedback
                    input.d-none(name="productId" value=product._id)
                    .star-rating
                      +star-rating
                    .input-comment                
                      textarea(type='text' rows='4' name="comment" placeholder="WRITE  YOUR COMMENT HERE" required)
                    button(type='submit') Submit
          .col-lg-8.col-sm-12.main-content
            // filter buttons for feedback stars
            .feedback-filter.wrapper-flex-gap-10(style="margin-bottom:10px;align-items:center;justify-content:flex-end;")
              .star-filter-buttons
                button.btn-star.active(type="button" data-star="all") All
                button.btn-star(type="button" data-star="5") 5 <i class="fa-solid fa-star" aria-hidden="true"></i>
                button.btn-star(type="button" data-star="4") 4 <i class="fa-solid fa-star" aria-hidden="true"></i>
                button.btn-star(type="button" data-star="3") 3 <i class="fa-solid fa-star" aria-hidden="true"></i>
                button.btn-star(type="button" data-star="2") 2 <i class="fa-solid fa-star" aria-hidden="true"></i>
                button.btn-star(type="button" data-star="1") 1 <i class="fa-solid fa-star" aria-hidden="true"></i>
            // feedback list + pagination
            .feedback-list(data-feedback=JSON.stringify(product.feedback))
            nav.pagination-product
              ul
                li.btn.prev(disabled)
                  i.fi.fi-rr-angle-left
                // dynamic numbers insert by JS
                li.btn.next
                  i.fi.fi-rr-angle-right
  if (user)
    input.d-none(id="avatar" value=user.thumbnail.replace('upload/', 'upload/c_limit,w_80/f_auto/'))
    input.d-none(id="userName" value=user.fullName)
    input.d-none(id="currentUserId" value=user._id)

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  script(src="/js/detailProduct.js")
  script(src="/js/feedback.js")
  script(src="/js/product.js") 
  script(src="/js/format.js") 
  script(src="/js/rating.js")