extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/product-layout-slide.pug
include ../../mixins/rating.pug

block main
  .product-detail
    .container
      .row
        .col-md-7.col-sm-12.product-images
          .swiper.image-detail
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item)
            .swiper-button-next
              <i class="fi fi-rr-right"></i>
            .swiper-button-prev
              <i class="fi fi-rr-left"></i>
          .swiper.thumbnail-detail(thumbsSlider="")
            .swiper-wrapper
              each item in product.images
                .swiper-slide
                  img(src=item)
        .col-md-5.product-info
          h3(class="inner-title") #{product.title}
          .d-flex.align-items-center
            .inner-rating.mr-5(data-rating=product.ratingNumber)
              +rating-1
            a(href="#") VIEW ALL COMMENTS
          .inner-price
            if (product.listSize && product.discountPercentage > 0)
              del(class="inner-price-old formatMoney") #{product.listSize[0].price}$
              span.inner-price-old |
            if (product.listSize)
              div(class="inner-price-new") <span class= "formatMoney"> #{product.listSize[0].priceNew}$</span>
            if (product.discountPercentage)
              div(class="inner-percent text")
                span 
                  i.fa-solid.fa-bolt
                  |   -#{product.discountPercentage}%
          table.inner-info.table.table-borderless
            tbody              
              if (product.category)
                tr
                  td.name.text-left(style="width: 30%;")            
                    span.text Category
                  td.text-left(style="width: fit-content;")
                    a(href=`/products/${product.category.slug}`) #{product.category.title}
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text In stock
                  td.value.text-left
                    div(class="inner-stock text")
                      <span class="stock">#{product.listSize[0].stock}</span>
                      span
                        if(product.listSize[0].stock > 1) 
                          |  items
                        else 
                          |  item
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Sold
                  td.value.text-left
                    div(class="inner-stock text")
                      <span>#{product.sales}</span>
                      span
                        if(product.sales > 1) 
                          |  items
                        else 
                          |  item
              if (product.listSize)
                tr
                  td.name.text-left(style="width: 30%;")
                    span.text Size
                  td.value.text-left
                    span.text#size-value small
          if(product.listSize)
            .btn-size
              each item in product.listSize 
                button.button-size(id=item.id price=item.price priceNew=item.priceNew stock=item.stock) #{item.size}
                

          form(
            action=`/cart/add/${product.id}`
            onSubmit="disableButton()"
            method="POST"
            class = "formCart"
          ) 
            input(
              class="sizeInput d-none"
              type = "text"
              name="sizeId"
              value=product.listSize[0].id
            )
            .input-qty
              i.fi.fi-rr-minus-small.sub
              input(
                class="form-control stockInput"
                type="number"
                name="quantity"
                value="1"
                min="1"
                max=product.listSize[0].stock
              )
              i.fi.fi-rr-plus-small.add
            button(
              type="submit"
            ) ADD TO CART
    section.box-description
      .container
        div
          .nav.nav-tabs(role="tablist")
            button.nav-link.active#nav-description-tab(data-toggle="tab" data-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true") Mô tả sản phẩm
            button.nav-link#nav-policy-tab(data-toggle="tab" data-target="#nav-policy" type="button" role="tab" aria-controls="nav-policy" aria-selected="false") Chính sách giao hàng
            button.nav-link#nav-shipping-tab(data-toggle="tab" data-target="#nav-shipping" type="button" role="tab" aria-controls="nav-shipping" aria-selected="false") Vận chuyển và hoàn trả
        .tab.tab-content
          .tab-pane.fade.show.active.inner-desc#nav-description(role="tabpanel" aria-labelledby="nav-description-tab") !{product.description}
          .tab-pane.fade#nav-policy(role="tabpanel" aria-labelledby="nav-policy-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
          .tab-pane.fade#nav-shipping(role="tabpanel" aria-labelledby="nav-shipping-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus libero quis mauris vestibulum dapibus. Maecenas ullamcorper erat mi, vel consequat enim suscipit at. Pellentesque a elit at elit
    section.section-policy
      .container
        .inner-section-policy.row
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-1_200x.png?v=1695007028")
              .title Extra Shipping
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-2_200x.png?v=1695007028")
              .title Payment Secured
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon 
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-3_200x.png?v=1695007028")
              .title Money Back Guarantee
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
    section.box-feedback
      .container
        .row  
          .col-12
            .inner-title.text-white <b>Đánh giá</b>
            if myToken
              form(
                action=`/products/detail/feedback/${product.slug}`
                id="form-feedback"
                method="POST"  
              )  
                <div id="rating">
                  <input type="radio" id="star5" name="rating" value="5"/>
                  <label class = "full" for="star5" title="Awesome - 5 stars"></label>
              
                  <input type="radio" id="star4" name="rating" value="4"/>
                  <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
              
                  <input type="radio" id="star3" name="rating" value="3"/>
                  <label class = "full" for="star3" title="Meh - 3 stars"></label>
              
                  <input type="radio" id="star2" name="rating" value="2"/>
                  <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
              
                  <input type="radio" id="star1" name="rating" value="1"/>
                  <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                </div>   
                div(class="form-group")
                  label(for="desc" class="inner-title")
                  textarea(
                      class="form-control"
                      id="desc"
                      name="description"
                      rows="6"
                      required
                  )
                div(class="form-group" style="margin: 0; padding-bottom:30px; display: flex; justify-content: flex-end")
                  button(
                      type="submit"
                      class="btn btn-primary button-1 button-feedback"
                  ) Xác nhận
            else 
              h2.text-white.ml-5 Đăng nhập để bình luận!
              
          .col-12 
            each feedback in product.feedback 
              if feedback.userToken == myToken 
                .wrap-feedback.mine
                  .user
                    .avatar.mr-2
                      img(src=feedback.thumbnail, alt="avt", width = "40px" height = "40px",style="border-radius:50%")
                    .name.mr-4 #{feedback.fullName}
                    .rating #{feedback.rating}/5 <i class="fa-solid fa-star"></i>
                  .time.ml-4
                    +formatDateTime(feedback.time)
                  .comment.ml-5 #{feedback.comment}
                .wrap-hr(style="display: flex; align-item: center; justify-content: center")
                  hr.m-0(style="height: 0.5px; background-color: #158b8d; width: 95%")
            hr
            each feedback in product.feedback 
              if feedback.userToken != myToken
                .wrap-feedback
                  .user
                    .avatar.mr-2 
                      img(src=feedback.thumbnail, alt="avt", width = "40px" height = "40px",style="border-radius:50%")
                    .name.mr-4 #{feedback.fullName}
                    .rating #{feedback.rating}/5 <i class="fa-solid fa-star"></i>
                  .time.ml-4
                    +formatDateTime(feedback.time)
                  .comment.ml-5 #{feedback.comment}
              
                  .wrap-hr(style="display: flex; align-item: center; justify-content: center")
                    hr.m-0.mt-3(style="height: 0.5px; background-color: #158b8d; width: 99%")
   
    .container.my-5
      +box-head("Related Product")
      .row
        .col-12 
          #demo
              #indemo
                  #demo1
                    +product-grid-slide(relatedProduct)
                  #demo2
        .col-12.mt-5
          
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  script(src="/js/detailProduct.js")
  script(src="/js/feedback.js")
  script(src="/js/product.js") 
  script(src="/js/format.js") 
  script(src="/js/rating.js")