extends ../../layout/default.pug
include ../../mixins/moment.pug

block main
  .container.discount-page
    .inner-tab
      a(href="/discount/coupon" active=type == "coupon") Coupon 
      a(href="/discount/shipping" active=type == "shipping") Shipping
      a(href="/discount/myDiscount" active=type == "myDiscount") My Discount
    div(class="inner-discount")
      each discount in discounts
        div(class="discount-item" data-id=discount._id)
          .inner-img
            if (discount.type == "coupon")
              img(src="https://thumbs.dreamstime.com/b/discount-stamp-vector-clip-art-33305813.jpg" alt="Coupon")
            else
              img(src="https://cf.shopee.vn/file/vn-11134207-7qukw-lhskeaic2j5xbd" alt="Free shipping")
          .wrapper
            .d-flex.justify-content-between
              .title #{discount.value}% off
              .code #{discount.code}                  
            .condition Order must be over 
              span.format-money #{discount.condition}
            .expired
              +expires(discount.endDate)
              if (type != "myDiscount")
                .quantity.ml-5 Only 
                  <span class="discount-quantity"> #{discount.quantity} </span> left 
          if (type != "myDiscount")
            form(action="/discount/getDiscount" method="POST")
              input(type="hidden" name="userId" value=user._id)
              input(type="hidden" name="discountId" value=discount._id)
              button.get-discount Get
  <script src="/socket.io/socket.io.js"></script>
  <script src = "/js/socket.js"></script>
  <script src = "/js/discount.js"></script>