extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  if(role.permissions.includes("products-category_create")) 
    h1(class=`mb-7 ml-7 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl
      dark:text-white`) Create new category
    .container.px-40
      form(
        action=`${prefixAdmin}/products-category/create`
        method="POST"
        enctype="multipart/form-data"
      )
        label(for="title") Category name
        input(
          type="text"
          id="title"
          name="title"
          placeholder="Living room"
          required
        )
        label(for="parent_id") Danh mục cha
        select(
          name="parent_id"
          id="parent_id"
          class="form-control"
        )
          option(value="") -- Chọn danh mục cha
            if(records)
              +select-tree(records)
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="featured1"
            name="featured"
            value="1"
          )
          label(for="featured1" class="form-check-label") Featured
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="featured0"
            name="featured"
            value="0"
            checked
          )
          label(for="featured0" class="form-check-label") Normal

          label(for="desc") Mô tả
          textarea(
            type="text"
            class="form-control textarea-mce"
            id="desc"
            name="description"
            rows="5"
          )
        div(
          upload-image
        )
          label(for="thumbnail") Ảnh
          input(
            type="file"
            class="form-control-file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            upload-image-input
          )
          img(
            src=""
            class="image-preview"
            upload-image-preview
          )

          label(for="position") Vị trí
          input(
            type="number"
            class="form-control"
            id="position"
            name="position"
            placeholder="Tự động tăng"
            min="1"
          )
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked
          )
          label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
          )
          label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group" style="margin-bottom: 0; padding-bottom:20px")
          button(
            type="submit"
            class="btn btn-primary button-1 button-1-2"
          ) Tạo mới