mixin alert-success(time)
  - if (messages.success)
    .message.info(class = "text-black dark:text-white")
      div(
        class="alert alert-success border-2 border-green-600 py-[10px] px-[15px] bg-green-700 flex items-center"
        show-alert 
        data-time=time
      ) 
        <i class="fa-regular fa-circle-check mr-2 text-black dark:text-white"></i> 
        <span class="text-black dark:text-white">#{messages.success}</span>
        <span close-alert class="ml-3 text-black dark:text-white bg-transparent "> X <span> 

mixin alert-error(time)
  - if (messages.error)
    .message.info
      div(
        class="alert alert-danger border-2 border-red-600 py-[10px] px-[15px] bg-red-700 flex items-center"
        show-alert 
        data-time=time
      ) 
        <i class="fa-solid fa-circle-exclamation"></i> 
        <span class="text-black dark:text-white">#{messages.error}</span>
        <span close-alert class="text-black dark:text-white"> X <span> 