mixin form-change-multi(path)
  form(
    action=path
    method="POST"
    form-change-multi
  )
    div(class="flex")
      select#countries.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name="type"
        class=`form-control
        focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-black-1 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
        `
      )
        option(value="active") -- Choose action --
        option(value="active") Active
        option(value="inactive") Inactive
        option(value="delete-all") Delete
        option(value="change-position") Change display position
      input(
        type="text"
        name="ids"
        value=""
        class="form-control hidden"
      )
      button(type="submit" class=`btn btn-primary button-1
      text-white bg-black-blur border-1 border-gray-600 hover:bg-gray-900 h-full focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-black-blur dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
      `) Apply