mixin form-change-multi(path)
  form.w-fit(
    action=path
    method="POST"
    form-change-multi
  )
    div(class="flex gap-4")
      select.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.flex-1(class='p-2.5 pr-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' name='type')
        option(value="active") Choose action
        option(value="active") Active
        option(value="inactive") Inactive
        option(value="delete-all") Delete
        option(value="change-position") Change display position
      input(
        type="text"
        name="ids"
        value=""
        class="form-control hidden"
      )
      button.text-white.bg-blue-600.font-medium.rounded-lg.text-sm.px-5.text-center(
        type='submit' class='dark:bg-green-900 py-2.5 cursor-pointer') Apply
