mixin pagination(currentPage, totalPages)
  .pagination
    ul
      if currentPage > 1
        li.btn.prev(button-pagination=currentPage-1)
          span
            i.fas.fa-angle-left
            |  Prev

      if totalPages <= 5
        - for (let i = 1; i <= totalPages; i++)
          li.numb(class=currentPage == i ? 'active' : '' button-pagination=i)
            span= i
      else
        if currentPage > 2
          li.first.numb(button-pagination=1)
            span 1
          if currentPage > 3
            li.dots
              span ...

        - let beforePage = currentPage - 1
        - let afterPage = currentPage + 1

        if currentPage == totalPages
          - beforePage = beforePage - 2
        else if currentPage == totalPages - 1
          - beforePage = beforePage - 1

        if currentPage == 1
          - afterPage = afterPage + 2
        else if currentPage == 2
          - afterPage = afterPage + 1

        - for (let i = beforePage; i <= afterPage; i++)
          if i > 0 && i <= totalPages
            li.numb(class=currentPage == i ? 'active' : '' button-pagination=i)
              span= i

        if currentPage < totalPages - 1
          if currentPage < totalPages - 2
            li.dots
              span ...
          li.last.numb(button-pagination=totalPages)
            span= totalPages

      if currentPage < totalPages
        li.btn.next(button-pagination=currentPage+1)
          span
            | Next 
            i.fas.fa-angle-right