extends ../../layouts/default.pug
include ../../mixins/moment.pug
include ../../mixins/discount.pug
include ../../mixins/pagination.pug

block main
  .container-custom
    +modalCUDiscount()
    div.relative.overflow-x-auto.shadow-md(class="sm:rounded-xl")
      table(class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" check-box-multi)
        thead(class=`text-xs text-gray-700 uppercase bg-gray-100 
          dark:bg-dark-navy-3 dark:text-gray-400`
        )
          tr
            th(scope="col" class="px-6 py-4")
              .flex.items-center
                input#checkbox-all-search(type="checkbox" name="checkall" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                label.sr-only(for="checkbox-all-search") checkbox
            th(scope="col" class="pr-6 py-3") Code
            th(scope="col" class="px-6 py-3") Type
            th(scope="col" class="px-6 py-3") Value
            th(scope="col" class="px-6 py-3") Start
            th(scope="col" class="px-6 py-3") Expire
            th(scope="col" class="px-6 py-3") Quantity
            th(scope="col" class="px-6 py-3") Condition
            th(scope="col" class="px-6 py-3") Status
            th(scope="col" class="px-6 py-3") 
          tbody
            each item, index in discounts
              tr(class="h-fit bg-white border-b dark:bg-dark-navy-2 dark:border-black-1 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                data-id=item._id
              )
                td(class="w-4 px-6 py-4")
                  .flex.items-center
                    input#checkbox-table-search-1(type="checkbox" name="id" value=item.id class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                    label.sr-only(for="checkbox-table-search-1") checkbox
                th(scope="row" class="pr-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white")
                  span #{item.code}
                td(class="px-6 py-4") 
                  span #{item.type}
                td(class="px-6 py-4") 
                  span #{item.value}
                td(class="px-6 py-4") 
                  +formatDateTime(item.startDate)
                td(class="px-6 py-4") 
                  +formatDateTime(item.endDate)
                td(class="px-6 py-4") 
                  span(class="discount-quantity") #{item.quantity}
                td(class="px-6 py-4") 
                  span #{item.condition}
                td(class="px-6 py-4") 
                  div(class="flex items-center")
                    if (item.isActive)
                      a(
                        href="javascript:;" class="" 
                        data-status = (item.isActive ? 'active' : 'inactive')
                        data-id = item.id
                        button-change-status 
                      )
                        <label class="inline-flex items-center cursor-pointer">
                          <input type="checkbox" value="" class="sr-only peer" checked>
                          <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-black-1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
                        </label>
                    else 
                      a(
                        href="javascript:;" class=""
                        data-status = (item.isActive ? 'active' : 'inactive')
                        data-id = item.id
                        button-change-status
                      ) 
                        <label class="inline-flex items-center cursor-pointer">
                          <input type="checkbox" value="" class="sr-only peer">
                          <div class="relative w-9 h-5 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-black-1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
                        </label>
                td(class="px-6 py-4")
                  .flex.items-center.gap-6
                    a(
                      class="button-edit cursor-pointer"
                      data-id=item.id
                      data-type=item.type
                      data-value=item.value
                      data-quantity=item.quantity
                      data-condition=item.condition
                      data-start=(item.startDate ? item.startDate.toISOString() : "")
                      data-end=(item.endDate ? item.endDate.toISOString() : "")
                    ) <i class="fa-regular fa-pen-to-square text-lg text-black-1 dark:text-white"></i>
                    form(action = `${prefixAdmin}/discount/delete/${item.id}?_method=DELETE` method="POST")
                      button(
                        class="button-delete cursor-pointer"
                        button-delete
                        data-id=item.id
                      ) <i class="fa-solid fa-trash text-lg text-red-400 dark:text-red-600"></i>
    if pagination
      div(class="flex justify-center mt-3")
        +pagination(pagination.currentPage, pagination.totalPage)

    // hidden form change status (reused by admin js)
    form(
      action="" 
      method="POST"
      id = "form-change-status"
      data-path = `${prefixAdmin}/discount/change-status`
    ) 
  <script src="/socket.io/socket.io.js"></script>
  <script src = "/js/socket.js"></script>
  script(src="/admin/js/discount.js")
