extends ../../layouts/default.pug
include ../../mixins/form-change-multi-order.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/sort-order.pug
include ../../mixins/moment.pug


block main 
  if(role.permissions.includes("orders_view")) 
    div(class="mb-3")
      +filter-status(fiterStatusOrder)  
      
      div(class="grid grid-cols-2 mt-3")
        div
          +search(keySearch)
        div.filter-date(class="flex items-center")
          #date-range-picker.flex.items-center(date-rangepicker='')
            .relative
              .absolute.inset-y-0.start-0.flex.items-center.ps-3.pointer-events-none
                svg.w-4.h-4.text-gray-500(class='dark:text-gray-400' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 20 20')
                  path(d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z')
              input#datepicker-range-start.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full.ps-10(name='start' type='text' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Select date start')
            span.mx-4.text-gray-500 to
            .relative
              .absolute.inset-y-0.start-0.flex.items-center.ps-3.pointer-events-none
                svg.w-4.h-4.text-gray-500(class='dark:text-gray-400' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 20 20')
                  path(d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z')
              input#datepicker-range-end.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full.ps-10(name='end' type='text' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Select date end')
          button(class="button-1 ml-2") OK
        
    div.relative.overflow-x-auto.shadow-md(class="sm:rounded-xl")
      table(class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" check-box-multi)
        thead(class=`text-xs text-gray-700 uppercase bg-gray-100 
              dark:bg-dark-navy-3 dark:text-gray-400`)
          tr
            th(scope="col" class="px-6 py-4")
              .flex.items-center
                input#checkbox-all-search(type="checkbox" name="checkall" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                label.sr-only(for="checkbox-all-search") checkbox
            th(scope="col" class="px-6 py-3") Order
            th(scope="col" class="px-6 py-3") Customer
            th(scope="col" class="px-6 py-3") Date
            th(scope="col" class="px-6 py-3") Items
            th(scope="col" class="px-6 py-3") Price
            th(scope="col" class="px-6 py-3") Payment Med
            th(scope="col" class="px-6 py-3") Status
        tbody
          each item in orders
            tr(class="h-fit bg-white border-b dark:bg-dark-navy-2 dark:border-black-1 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600")
              td(class="w-4 px-6 py-4")
                .flex.items-center
                  input#checkbox-table-search-1(type="checkbox" name="id" value=item.id class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                  label.sr-only(for="checkbox-table-search-1") checkbox
              td(class="px-6 py-4 underline text-white") ##{item.orderId}
              td(class="px-6 py-4 flex")
                div(class="mr-3 min-w-[60px] min-h-[60px] w-[60px] h-[60px] rounded-full overflow-hidden")
                  if item.user.length > 0
                    img(src=item.user[0].thumbnail class="w-full h-auto")
                  else
                    div(class=" w-full h-full bg-white text-black font-bold flex justify-center items-center") Guest
                div 
                  p(class="text-white font-[500]") #{item.user.length>0? item.user[0].fullName : "Guest"}
                  p #{item.userInfo.fullName}-#{item.userInfo.phone}
                  p #{`${item.userInfo.detail}, ${item.userInfo.commune}, ${item.userInfo.district}, ${item.userInfo.province}`}
              td(class="px-6 py-4")
                div(class="text-white font-[500]")
                  +formatDate(item.createdAt)
                +formatTime(item.createdAt)
              td(class="px-6 py-4 text-white") #{item.products.length}
              td(class="px-6 py-4 formatMoney text-white") #{item.shippingFee+item.totalProductPrice}d
              td(class="px-6 py-4")
                if item.paymentMethod == "cash"
                  <i class="fa-solid fa-money-bill-1-wave text-[25px]"></i>
                else if item.paymentMethod == "qr"
                  <i class="fa-solid fa-qrcode text-[25px]"></i>
                else if item.paymentMethod == "zalopay"
                  <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"><path d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 15.576172 6 C 12.118043 9.5981082 10 14.323627 10 19.5 C 10 24.861353 12.268148 29.748596 15.949219 33.388672 C 15.815412 33.261195 15.988635 33.48288 16.005859 33.875 C 16.023639 34.279773 15.962689 34.835916 15.798828 35.386719 C 15.471108 36.488324 14.785653 37.503741 13.683594 37.871094 A 1.0001 1.0001 0 0 0 13.804688 39.800781 C 16.564391 40.352722 18.51646 39.521812 19.955078 38.861328 C 21.393696 38.200845 22.171033 37.756375 23.625 38.34375 A 1.0001 1.0001 0 0 0 23.636719 38.347656 C 26.359037 39.41176 29.356235 40 32.5 40 C 36.69732 40 40.631169 38.95117 44 37.123047 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 18.496094 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 34.804688 C 40.72689 36.812719 36.774644 38 32.5 38 C 29.610147 38 26.863646 37.459407 24.375 36.488281 C 22.261967 35.634656 20.540725 36.391201 19.121094 37.042969 C 18.352251 37.395952 17.593707 37.689389 16.736328 37.851562 C 17.160501 37.246758 17.523335 36.600775 17.714844 35.957031 C 17.941109 35.196459 18.033096 34.45168 18.003906 33.787109 C 17.974816 33.12484 17.916946 32.518297 17.357422 31.96875 L 17.355469 31.966797 C 14.016928 28.665356 12 24.298743 12 19.5 C 12 14.177406 14.48618 9.3876296 18.496094 6 z M 32.984375 14.986328 A 1.0001 1.0001 0 0 0 32 16 L 32 25 A 1.0001 1.0001 0 1 0 34 25 L 34 16 A 1.0001 1.0001 0 0 0 32.984375 14.986328 z M 18 16 A 1.0001 1.0001 0 1 0 18 18 L 21.197266 18 L 17.152344 24.470703 A 1.0001 1.0001 0 0 0 18 26 L 23 26 A 1.0001 1.0001 0 1 0 23 24 L 19.802734 24 L 23.847656 17.529297 A 1.0001 1.0001 0 0 0 23 16 L 18 16 z M 29.984375 18.986328 A 1.0001 1.0001 0 0 0 29.162109 19.443359 C 28.664523 19.170123 28.103459 19 27.5 19 C 25.578848 19 24 20.578848 24 22.5 C 24 24.421152 25.578848 26 27.5 26 C 28.10285 26 28.662926 25.829365 29.160156 25.556641 A 1.0001 1.0001 0 0 0 31 25 L 31 22.5 L 31 20 A 1.0001 1.0001 0 0 0 29.984375 18.986328 z M 38.5 19 C 36.578848 19 35 20.578848 35 22.5 C 35 24.421152 36.578848 26 38.5 26 C 40.421152 26 42 24.421152 42 22.5 C 42 20.578848 40.421152 19 38.5 19 z M 27.5 21 C 28.340272 21 29 21.659728 29 22.5 C 29 23.340272 28.340272 24 27.5 24 C 26.659728 24 26 23.340272 26 22.5 C 26 21.659728 26.659728 21 27.5 21 z M 38.5 21 C 39.340272 21 40 21.659728 40 22.5 C 40 23.340272 39.340272 24 38.5 24 C 37.659728 24 37 23.340272 37 22.5 C 37 21.659728 37.659728 21 38.5 21 z"></path></svg>
                else if item.paymentMethod == "momo"
                  img(src="/image/momo.png" class="w-[30px] h-[30px]")
              td(class="px-6 py-4")
                select.select-status-order(id="countries" data-order-id = item.id class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500")
                  option(value="pending" selected=item.deliveryStatus=='pending') Pending
                  option(value="pending-payment" selected=item.deliveryStatus=='pending-payment') Pending payment
                  option(value="shipping" selected=item.deliveryStatus=='shipping') Shipping
                  option(value="delivered" selected=item.deliveryStatus=='delivered') Delivered
                  option(value="cancelled" selected=item.deliveryStatus=='cancelled') Cancelled 
    div(class="flex justify-center mt-3")
      +pagination(objectPagination)
    form.form-change-status-order(method="POST" class="hidden")
    script(src="/admin/js/product.js")   
    script(src="/admin/js/order-user.js")                                       