extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/sort-order.pug
include ../../mixins/qr-code.pug

block main
  .page-format
    .container.my-3
      each order in orders
        .orderInfo
          .row
            .col-6 ##{order._id}
            .col-6 
              +formatDateTime(order.createdAt)
            .col-2 #{order.userInfo.fullName}
            .col-2 #{order.userInfo.phone}
            .col-8 #{order.userInfo.detail}, #{order.userInfo.commune}, #{order.userInfo.district}, #{order.userInfo.province}
            .col-2 Kiểu thanh toán: #{order.paymentMethod}
            - status = order.paymentStatus.status
            .col-4.paymentStatus-section(status = status data-order-id = order._id)
              if order.paymentMethod == "Mã QR"
                if status == "ok"
                  p Trạng thái thanh toán: Đã chuyển đủ
                if status == "lack"
                  p Trạng thái thanh toán: Chuyển thiếu
                  p Tiền thiếu: #{order.paymentStatus.lack}
                  button.button-qr-history Mã QR
                  +qr-code(bankId, bankAccount, order.paymentStatus.lack, order._id)
                if status == "change"
                  p Trạng thái thanh toán: Chuyển thừa
                  p Tiền thừa: #{order.paymentStatus.change}
          .orderProducts
            - totalPrice = 0
            each item in order.orderProducts
              - price = +(item.price*(100-item.discountPercentage)/100).toFixed(0)
              - totalPrice += price
              .row
                .col-2 #{item.product_title}
                .col-2
                  img(src=item.product_thumbnail width="80%")
                .col-2
                  p Size: #{item.size}
                  p Giá: #{price}
                  p Số lượng: #{item.quantity}
                .col-2
            
        hr

    //- script(src="/js/cart.js") 
    script(src="/js/history.js")