mixin alert-success(time)
    - if (messages.success)
        .alert-container
            div(
                class="alert alert-success"
                show-alert 
                data-time=time
            )
                .alert-content
                    .alert-icon ✓
                    .alert-message #{messages.success}
                    .alert-close(close-alert) ×

mixin alert-error(time)
    - if (messages.error)
        .alert-container
            div(
                class="alert alert-danger"
                show-alert 
                data-time=time
            )
                .alert-content
                    .alert-icon !
                    .alert-message #{messages.error}
                    .alert-close(close-alert) × 