mixin qr-code(bankId, bankAccount, amount, orderId)
  .overlay
  .inner-section-qr(data-bank-id=bankId data-bank-account=bankAccount)
    img(src=`https://img.vietqr.io/image/${bankId}-${bankAccount}-qr_only.png?amount=${amount}&addInfo=STARTSEVQR${orderId}END`)
    p.des Mã QR thanh toán tự động
    p Số tiền: <span class="price">#{amount} đ</span>
    p Nội dung: 
      span.content #{orderId}
    p Người thụ hưởng: <span class="owner">PHAN THANH TUNG</span>

    .wait-bar
