include ../mixins/sub-menu.pug

header.header 
  .header-1
    .container 
      .row.align-items-center
        .col-4
        .col-4.logo
          a(href="/") 
            img(src=settingsGeneral.logo)
        .col-4 
          .inner-nav 
            ul 
              li.header-search
                a(href="javascript:void(0);").header-search__label <i class="fa-solid fa-magnifying-glass"></i>
                <div class="header-search__input d-none wave-group">
                  <input required="" type="text" class="input" id="header-search__input">
                  <span class="bar"></span>
                  <label class="label">
                    <span class="label-char" style="--index: 0">S</span>
                    <span class="label-char" style="--index: 1">e</span>
                    <span class="label-char" style="--index: 2">a</span>
                    <span class="label-char" style="--index: 3">r</span>
                    <span class="label-char" style="--index: 4">c</span>
                    <span class="label-char" style="--index:5">h</span>
                  </label>
                </div>
              
              li 
                a(href="/history")
                  <i class="fa-solid fa-clock-rotate-left"></i>
              li 
                a(href="/cart")
                  <i class="fa-solid fa-cart-shopping"></i>
                    span.miniCart #{miniCart ? miniCart.totalQuantity:0}
              if(! user) 
                li
                  a.header-user-login(href="/user/login") <i class="fi fi-ss-user-key" style="font-size: 20px"></i>
              else
                li.sub-menu
                  a(href="/user/info")
                    <i class="fa-regular fa-user"></i>
                  ul.sub-menu__content
                    li 
                      a.d-flex(href="/user/info") 
                        <i class="fi fi-rr-guide-alt mr-3"></i> Info
                    li
                      a.d-flex(href="/user/logout") 
                        <i class="fi fi-rr-sign-out-alt mr-3"></i> Logout
  .header-2
    .container
      //- .col-2(style = "padding: 0") 
      //-   form(
      //-     action="/search"
      //-     method="GET"
      //-   ) 
      //-     div(class="form-group d-flex mb-0")
      //-       input(
      //-         type="text"
      //-         placeholder="Search"
      //-         class="form-control"
      //-         name="keyword"
      //-         value=keyword
      //-       )
      //-       button(
      //-         type="submit"
      //-         class="btn btn-primary"
      //-       ) <i class="fa-solid fa-magnifying-glass"></i>
      .wrap-menu 
        ul.inner-menu
          li 
            a(href="/") Home   
          li(class="sub-menu")
            -const pathProduct = "/products"
            a(href=pathProduct) Category
            +sub-menu(layoutProductsCategory, pathProduct) 

          li
            a(href="/about") About

          li
            a(href="/contact") Contact

            //- li
            //-   a(href="/cart") <i class="fa-solid fa-cart-shopping"></i>(#{minicart ? minicart.totalQuantity:0}) 
            //- .col-3.nav_bar_pc 
            //-   .inner-menu 
            //-     ul
            //-       if(user)
            //-         li
            //-           a(href="/user/info")
            //-             <i class="fa-regular fa-user"></i> #{name}
            //-         li
            //-           a(href="/user/logout") 
            //-             <i class="fa-solid fa-right-from-bracket"></i> <b>logout</b>
            //-       else 
            //-         li
            //-           a(href="/user/login") 
            //-             <i class="fa-solid fa-lock-open"></i> <b>Login</b>

            //- .nav-bar-btn.col-8 
            //-   <i class="fa-solid fa-bars"></i>

            //- .nav_mobile 
            //-   ul.nav_mobile_list 
            //-     .nav-mobile-close
            //-       <i class="fa-solid fa-xmark"></i>
            //-     li 
            //-       a(href="/" class="nav_mobile_link") <b>HOME</b>   
            //-     li(class="sub-menu")
            //-       a(href=pathProduct class="nav_mobile_link") 
            //-         <b>CATEGORY</b>
            //-       +sub-menu(layoutProductsCategory, pathProduct) 
            //-     li 
            //-       a(href="/about" class="nav_mobile_link") <b>ABOUT</b>
            //-     li 
            //-       a(href="/contact" class="nav_mobile_link") <b>CONTACT</b>
            //-     li 
            //-       a(href="/cart" class="nav_mobile_link") <i class="fa-solid fa-cart-shopping"></i>(#{minicart ? minicart.totalQuantity:0}) 
            //-     if(user)
            //-       li
            //-         a(href="#" class="nav_mobile_link")
            //-           <i class="fa-regular fa-user"></i> #{name}
            //-       li
            //-         a(href="/user/logout" class="nav_mobile_link") 
            //-           <i class="fa-solid fa-right-from-bracket"></i> <b>logout</b>
            //-     else 
            //-       li
            //-         a(href="/user/login" class="nav_mobile_link") 
            //-           <i class="fa-solid fa-lock-open"></i> <b>Login</b>
            //- .nav-overlay

