include ../mixins/sub-menu.pug

header.header 
  .header-search
    <i class="fa-solid fa-xmark header-search-close"></i>
  .header-1
    .container 
      .row.align-items-center
        .col-4
        .col-4.logo
          a(href="/") 
            img(src=settingsGeneral.logo)
        .col-4 
          .inner-nav 
            ul 
              li.header-search-icon 
                a(href="#")
                  <i class="fa-solid fa-magnifying-glass"></i>
              if(user)
                li 
                  a.userInfo(href="/user/info")
                    <i class="fa-regular fa-user"></i>
                  ul.afterLogin
                    li 
                      a(href="/user/info") <i class="fi fi-rr-guide-alt mr-3"></i> Info
                    li
                      a(href="/user/logout") <i class="fi fi-rr-sign-out-alt mr-3"></i> Logout
              li 
                a(href="#")
                  <i class="fa-solid fa-clock-rotate-left"></i>
              li 
                a(href="/cart")
                  <i class="fa-solid fa-cart-shopping"></i>
                    span #{miniCart ? miniCart.totalQuantity:0}
              if(! user) 
                li
                  a(href="/user/login") Login
  .header-2
    .container
      //- .col-2(style = "padding: 0") 
      //-   form(
      //-     action="/search"
      //-     method="GET"
      //-   ) 
      //-     div(class="form-group d-flex mb-0")
      //-       input(
      //-         type="text"
      //-         placeholder="Search"
      //-         class="form-control"
      //-         name="keyword"
      //-         value=keyword
      //-       )
      //-       button(
      //-         type="submit"
      //-         class="btn btn-primary"
      //-       ) <i class="fa-solid fa-magnifying-glass"></i>
      .wrap-menu 
        ul.inner-menu
          li 
            a(href="/") Home   
          li(class="sub-menu")
            -const pathProduct = "/products"
            a(href=pathProduct) Category
            +sub-menu(layoutProductsCategory, pathProduct) 

          li
            a(href="/about") About

          li
            a(href="/contact") Contact

            //- li
            //-   a(href="/cart") <i class="fa-solid fa-cart-shopping"></i>(#{minicart ? minicart.totalQuantity:0}) 
            //- .col-3.nav_bar_pc 
            //-   .inner-menu 
            //-     ul
            //-       if(user)
            //-         li
            //-           a(href="/user/info")
            //-             <i class="fa-regular fa-user"></i> #{name}
            //-         li
            //-           a(href="/user/logout") 
            //-             <i class="fa-solid fa-right-from-bracket"></i> <b>logout</b>
            //-       else 
            //-         li
            //-           a(href="/user/login") 
            //-             <i class="fa-solid fa-lock-open"></i> <b>Login</b>

            //- .nav-bar-btn.col-8 
            //-   <i class="fa-solid fa-bars"></i>

            //- .nav_mobile 
            //-   ul.nav_mobile_list 
            //-     .nav-mobile-close
            //-       <i class="fa-solid fa-xmark"></i>
            //-     li 
            //-       a(href="/" class="nav_mobile_link") <b>HOME</b>   
            //-     li(class="sub-menu")
            //-       a(href=pathProduct class="nav_mobile_link") 
            //-         <b>CATEGORY</b>
            //-       +sub-menu(layoutProductsCategory, pathProduct) 
            //-     li 
            //-       a(href="/about" class="nav_mobile_link") <b>ABOUT</b>
            //-     li 
            //-       a(href="/contact" class="nav_mobile_link") <b>CONTACT</b>
            //-     li 
            //-       a(href="/cart" class="nav_mobile_link") <i class="fa-solid fa-cart-shopping"></i>(#{minicart ? minicart.totalQuantity:0}) 
            //-     if(user)
            //-       li
            //-         a(href="#" class="nav_mobile_link")
            //-           <i class="fa-regular fa-user"></i> #{name}
            //-       li
            //-         a(href="/user/logout" class="nav_mobile_link") 
            //-           <i class="fa-solid fa-right-from-bracket"></i> <b>logout</b>
            //-     else 
            //-       li
            //-         a(href="/user/login" class="nav_mobile_link") 
            //-           <i class="fa-solid fa-lock-open"></i> <b>Login</b>
            //- .nav-overlay

