extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  .auth-page
    .form
      .container.my-5
        .row.justify-content-center
          .col-8
            form(
              action="/user/login"
              method="POST"
            )
              div(class="form-group mb-4")
                label.mb-2(for="email") Email
                .input
                  <i class="fa-regular fa-envelope"></i>
                  input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    autocomplete="off"
                    placeholder="Enter your email"
                    required
                  )
              div(class="form-group form-group-password")
                label.mb-2(for="password") Password
                .input
                  <i class="fa-solid fa-key"></i>
                  input(
                    type="password"
                    class="form-control input-password"
                    id="password"
                    name="password"
                    autocomplete="off"
                    placeholder="Enter your password"
                    required
                  )
              .remember-forgot-box.mb-5
                .remember-box
                  input.remember-input.mr-2(type="checkbox")
                  span Remember me
                a(href="/user/password/forgot") Forgot password?
              div(class="form-group")
                button(
                  class = "button button-1"
                  type="submit"
                  class="btn btn-primary btn-block"
                ) Login
              .register-box
                span Don't have an account? 
                  a(href="/user/register" style="text-decoration: underline") Register
                div.mt-4 Or With
              
            div.wrap-login-social
              form(
                action="/user/login-google"
                method="POST"
              )
                button(type="submit") <i class="fa-brands fa-google mr-2"></i> Google  
              form(
                action="/user/login-facebook"
                method="POST"
              )
                button(type="submit") <i class="fa-brands fa-facebook-f mr-2"></i> Facebook 
              form(
                action="/user/login-github"
                method="POST"
              )
                button(type="submit") <i class="fa-brands fa-github mr-2"></i> Github  

