extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  .auth-page
    .form
      .container.my-5
        .row.justify-content-center
          .col-8
            form(
              action="/user/register"
              method="POST"
            )
              div(class="form-group")
                label(for="email") Email
                .input
                  <i class="fa-regular fa-envelope"></i>
                  input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    autocomplete="off"
                    required
                  )
                  span.notice
              div(class="form-group")
                label(for="phone") Phone
                .input
                  <i class="fa-solid fa-phone"></i>
                  input(
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    required
                  )
                  span.notice
              div(class="form-group")
                label(for="fullName") Display Name
                .input
                  <i class="fa-solid fa-signature"></i>
                  input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    required
                  )
                  p.notice
              div(class="form-group form-group-password")
                label(for="password") Password
                .input
                  <i class="fa-solid fa-unlock"></i>
                  input(
                    type="password"
                    class="form-control input-password"
                    id="password"
                    name="password"
                    required
                  )
                  p.notice
              div(class="form-group form-group-password")
                label(for="check-password") Confirm Password
                .input
                  <i class="fa-solid fa-unlock-keyhole"></i>
                  input(
                    type="password"
                    class="form-control input-password"
                    id="check-password"
                    name="checkPassword"
                    required
                  )
                  p.notice
              div.d-flex.justify-content-center.mt-3(class="g-recaptcha" data-sitekey="6LclhkIrAAAAALXLWhm7WgTnFRkS9T4DzoI2wnIx")
              div(class="form-group mt-4")
                button(
                  class ="button button-1"
                  type="submit"
                  class="btn btn-primary btn-block"
                ) Resgister
  script(src="/js/validate.js")