extends ../../layouts/default.pug

block main
  h1(class=`mb-7 ml-2 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl
    dark:text-white`) Dashboard
  .container-custom
    .fact-sale
      h2(class=`mb-5 ml-5 text-xl font-medium leading-none tracking-tight text-gray-900 md:text-2xl
      dark:text-white`) Sales report
      .options(class="grid gap-6 mb-6 md:grid-cols-4")
        .time-rollup.flex
          label
            input(
              type="radio"
              name="saleTime"
              value="day"
            )
            span Day
          label
            input(
              type="radio"
              name="saleTime"
              value="month"
            )
            span Month
          label
            input(
              type="radio"
              name="saleTime"
              value="year"
              checked
            )
            span Year
          
        .location-rollup.flex
          label
            input(
              type="radio"
              name="saleLocation"
              value="commune"
            )
            span Commune
          label
            input(
              type="radio"
              name="saleLocation"
              value="district"
            )
            span District
          label
            input(
              type="radio"
              name="saleLocation"
              value="province"
              checked
            )
            span Province
        .product-rollup.flex
          label
            input(
              type="radio"
              name="saleProduct"
              value="product"
            )
            span Product
          label
            input(
              type="radio"
              name="saleProduct"
              value="category"
              checked
            )
            span Category
        .customer-rollup.flex
          label
            input(
              type="radio"
              name="saleCustomer"
              value="type"
              checked
            )
            span Type
          label
            input(
              type="radio"
              name="saleCustomer"
              value="gender"
            )
            span Gender
      .inner-chart
        .time-chart
        .location-chart
        .product-chart
        .customer-chart

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="js/helper.js"></script>
  script(type="module" src="/admin/js/chart.js")