extends ../../layouts/default.pug

block main
  h1(class=`mb-7 ml-2 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl
    dark:text-white`) Dashboard
  .container-custom
    .fact-sale
      h2(class=`mb-5 ml-5 text-xl font-medium leading-none tracking-tight text-gray-900 md:text-2xl
      dark:text-white`) Sales report
      .options

      .time-chart
        
      .location-chart

      .product-chart

      .customer-chart

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  script(type="module" src="/admin/js/chart.js")




      //- .col-6
      //-   .card.mb-4
      //-     .card-header Danh mục sản phẩm
      //-     .card-body
      //-       p Số lượng: <b>#{statistic.categoryProduct.total}</b>
      //-       p Hoạt động: <b>#{statistic.categoryProduct.active}</b>
      //-       p Dừng hoạt động: <b>#{statistic.categoryProduct.inactive}</b>

      //- .col-6
      //-   .card.mb-4
      //-     .card-header Sản phẩm
      //-     .card-body
      //-       p Số lượng: <b>#{statistic.product.total}</b>
      //-       p Hoạt động: <b>#{statistic.product.active}</b>
      //-       p Dừng hoạt động: <b>#{statistic.product.inactive}</b>

      //- .col-6
      //-   .card.mb-4
      //-     .card-header Tài khoản admin
      //-     .card-body
      //-       p Số lượng: <b>#{statistic.account.total}</b>
      //-       p Hoạt động: <b>#{statistic.account.active}</b>
      //-       p Dừng hoạt động: <b>#{statistic.account.inactive}</b>

      //- .col-6
      //-   .card.mb-4
      //-     .card-header Tài khoản client
      //-     .card-body
      //-       p Số lượng: <b>#{statistic.user.total}</b>
      //-       p Hoạt động: <b>#{statistic.user.active}</b>
      //-       p Dừng hoạt động: <b>#{statistic.user.inactive}</b>