aside#logo-sidebar.fixed.left-0.z-40.w-64.h-screen.transition-transform.-translate-x-full.bg-white.border-r.border-gray-200(class='max-lg:w-52 sm:translate-x-0 top-[64px] dark:bg-black-blur dark:border-gray-700' aria-label='Sidebar')
  .h-full.px-3.py-4.overflow-y-auto.bg-gray-50(class='dark:bg-gray-800')
    ul.space-y-2.font-medium
      li
        a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href='/admin/dashboard' class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
          <i class="fa-solid fa-chart-line"></i>
          span.ms-3 Dashboard
      if(role.permissions.includes("products_view"))
        li(sider="Sider-Product")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/products` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-gift"></i>
            span.ms-3 Products
      if(role.permissions.includes("products-category_view"))
        li(sider="Sider-Category")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/products-category` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-layer-group"></i>
            span.ms-3 Categories
      if(role.permissions.includes("orders_view"))
        li(sider="Sider-Order")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/orders` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-cart-shopping"></i>
            span.ms-3 Orders
      if(role.permissions.includes("roles_view"))
        li(sider="Sider-Role")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/roles` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-address-book"></i>
            span.ms-3 Roles
      if(role.permissions.includes("roles_permissions"))
        li(sider="Sider-Permission")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/roles/permissions` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-brands fa-critical-role"></i>
            span.ms-3 Permissions
      if(role.permissions.includes("accounts_view"))
        li(sider="Sider-Account")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/accounts` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-user-tie"></i>
            span.ms-3 Admin Accounts
      if(role.permissions.includes("accounts_view"))
        li(sider="Sider-User")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/users` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-users"></i>
            span.ms-3 Client Accounts
      if(role.permissions.includes("settings_view"))
        li(sider="Sider-Setting")
          a.flex.items-center.p-2.text-gray-900.rounded-lg.group(href=`${prefixAdmin}/settings/general` class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
            <i class="fa-solid fa-gears"></i>
            span.ms-3 Settings
